@import '../../styles/_variables';
@import '../../styles/_mixins';

.pixel-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: $button;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  color: #000;
  font-size: 11px;
  @include pixel-font;
  cursor: pointer;
  image-rendering: pixelated;
  line-height: 18px;
  min-width: 0;
  padding: 6px 14px;
  box-shadow: 4px 4px 0 rgba(0,0,0,0.6); // globaler Shadow
  white-space: nowrap;

  &:hover {
    background: $button-hover;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.6);
  }
  &:active {
    background: $button-active;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.6);
  }

  &.outline {
    background: transparent;
    border: 3px solid #000;
    color: #fff;
    line-height: 14px;
    padding: 6px 12px;
    box-shadow: 4px 4px 0 rgba(0,0,0,0.6);
  }
}
