# .gitignore
.env
__pycache__/
*.pyc
.$*

# ignore Minecraft paper server jar file
mc_server/server.jar


# IntelliJ IDEA project files
.idea/
*.iml
out/
Docs/Dev/prices_1_21_2025-11-26T13-59-36.json
