name: Release

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
    - name: Clone repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Get next version
      id: get-next-version
      uses: thenativeweb/get-next-version@2.7.1
    - name: Create new release
      if: ${{ steps.get-next-version.outputs.version != 'false' }}
      run: |
        NEXT_VERSION=${{ steps.get-next-version.outputs.version }}
        git tag $NEXT_VERSION
        git push origin $NEXT_VERSION